/vendor/
/composer.phar
/composer.lock
.env
uploads/*
!uploads/.gitkeep
api/db.php
.installed
assets/img/logo/*
!assets/img/logo/.gitkeep
*.log
.vscode/
.idea/
*.pdf
*.xls
*.xlsx

# Licensing
.license.lock

# Server Files (Central Server Only)
/server_files/
