vendor/
composer.phar
composer.lock
.env
uploads/*
!uploads/.gitkeep
api/db.php
assets/img/logo/*
!assets/img/logo/.gitkeep
*.log
.vscode/
.idea/
*.pdf
*.xls
*.xlsx

# Licensing
.license.lock
# /server_files/ -- Temporarily allowed for sync
